.App {
  text-align: center;
}

h1, h2{
  color: #EFEFEF;
}

h3{
  margin-top: 1.4rem;
}

p{
  text-align: justify;
  margin-bottom: 5px;
}
.profilePicture{
  min-width: 20%;
  min-height: 20%;
  max-width: 50%;
  max-height: 50%;
  width: 40%;
  height: 40%;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
}

.imgHeader{
  background: url(./assets/img/photo-1537884944318-390069bb8665.jpg) 
  no-repeat;
  background-size: cover;
  
}

.header{
  min-width: 100%;
  min-height: 100%;
}

.left{
  background-color: #cacaca;
  min-width: 100wh;
  min-height: 100vh;
}

.right{
  background-color: #EFEFEF;
  min-width: 100wh;
  min-height: 100vh;
}

table{
  border: 1px solid transparent !important;
}

tr, td{
  border: 1px solid transparent;
  text-align: start;
}

a{
  color: black;
}
.tdIcon{
  width: 20px;
}

.imgIcon{
  min-width: 40px;
  max-width: 40px;
  max-height: 40px;
}

li{
  text-align: justify;
}

.dotHide{
  list-style: none;
}